# WebAuthn Requires HTTPS (or localhost)
RP_ID="localhost"
RP_NAME="localhost"
PORT="5000"
ORIGIN="http://localhost:5000"
DEBUG="True"
FLAG1="STH{flag1_***********}"
FLAG2="STH{flag2_***********}"
FLAG3="STH{flag3_***********}"