{% extends 'base.html' %}

{% block content %}
<h1>Get Start</h1>
<p>Before you start, we highly recommend installing the following Burp Extension.</p>
<a href="https://github.com/siamthanathack/Passkey-Raider">Passkey Raider</a>
<p>By installing the extension, it will be much more easier to read and modify parameters during the Passkey processes. (Burp Professional is not required!)</p>
<img src="/static/images/passkey-raider-showcase.png" width="500" />
<p>Now that you are fully prepared, let's go to the <a href="/lab0">first lab!</a></p>
{% endblock %}