{% extends 'base.html' %}

{% block content %}
<h1>Welcome to the Lab Info Page</h1>
<p>Select a lab from the sidebar to get more information.</p>

<div class="home-page">
    <h1>Damn Vulnerable Passkey (DVP)</h1>
    <p>Damn Vulnerable Passkey (DVP) is a deliberately insecure WebAuthn/Passkey training platform designed to help security professionals and enthusiasts explore, understand, and exploit various vulnerabilities in modern authentication schemes. By simulating real-world scenarios with misconfigurations, improper server-side checks, and weak client implementations, DVP allows hands-on practice in identifying and mitigating threats that could compromise WebAuthn-based authentication systems.</p>
    <img src="../static/images/sth-logo-full.png" alt="Cat">
</div>
{% endblock %}
